* {
    font-size: 11pt;
    font-family: "Helvetica", "Trebuchet MS", "Sans Serif";
}

a {
    text-decoration: None;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    padding-top: 100px;
    display: None;
}

#choiceSet  label {
    width: 100px;
    font: inherit;
}

#notice {
    display: none;
    width:100%;
    padding: 5px;
    margin-top: 50px;
}

#secondaryIndicChoices {
    margin-top:5px;
}

label {
    margin-top:5px;
}

#footer {
    margin-top: 500px;
    color: DarkGrey;
    text-align: Center;
}
#footer p {
    margin: 0px;
}

#footer a {
    color: Grey;
}
