* {
    font-size: 12pt;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}

#choiceSet  label {
    width: 100px;
    font: inherit;
}

#notice {
    display: none;
    width:100%;
    padding: 5px;
    margin-top: 50px;
}

#secondaryIndicChoices {
    margin-top:5px;
}

